<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper  
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  
    "http://mybatis.com/dtd/mybatis-3-mapper.dtd"> 
    
<mapper namespace="com.qiwen.web.dao.BankDaoMapper">
	<resultMap type="com.qiwen.web.po.Bank" id="resultBankMap">
		<id column="id_" property="id"/>
		<result column="name_" property="name"/>
		<result column="code_" property="code"/>
	</resultMap>
	
	<cache ></cache>

	<select id="getBankById" parameterType="String" resultMap="resultBankMap">
	select id id_,name name_,code code_ from t_bank where id = #{id}
	</select>
	
<!-- 	<select id="getBankByName" parameterType="String" resultType="org.jeecgframework.web.sanxiang.po.TBank"> -->
<!-- 	select id,name,code from t_bank where name like '${value}' -->
<!-- 	</select> -->
	
<!-- 	<insert id="insertBank" parameterType="org.jeecgframework.web.sanxiang.po.TBank" > -->
<!-- 	insert into t_bank(id,name,code) values(#{id},#{name},#{code}); -->
<!-- 	</insert> -->
	

</mapper>